.header {
  background-image: url('../../../assets/images/start-screen-gradient-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 30px;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo__link {
  display: flex;
  flex-direction: column;
}

.logo__text {
  display: inline-block;
  font-weight: 400;
  transition: color 0.3s ease-out;
}

.logo__title {
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 0.06em;
  color: var(--color-primary);
  margin-bottom: 10px;
}

.logo__subtitle {
  font-family: var(--font-family-arial);
  font-size: 13px;
  color: var(--color-light-xl);
  line-height: 15px;
  letter-spacing: 0.1em;
}

.make-friend {
  background-image: url('../../../assets/images/start-screen-gradient-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -90px;
}

.make-friend .container {
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
}

.make-friend__left {
  padding-top: 163px;
}

.make-friend__title {
  font-size: 44px;
  font-weight: 400;
  line-height: 57px;
  color: var(--color-light-xl);
  max-width: 310px;
  margin-bottom: 42px;
}

.make-friend__subtitle {
  color: var(--color-dark-s);
  font-size: 15px;
  line-height: 24px;
  max-width: 460px;
  margin-bottom: 42px;
}

.make-friend__btn {
  display: block;
  border: none;
  background-color: var(--color-primary);
  border-radius: 100px;
  padding: 15px 45px;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
  cursor: pointer;
  transition: background-color 0.3s ease-out;
}

.about .container {
  display: flex;
  justify-content: space-between;
  max-width: 930px;
}

.about .title {
  max-width: 370px;
  margin-top: 15px;
}

.about__text {
  max-width: 430px;
  margin-top: 25px;
  color: var(--color-dark-xl);
  font-size: 15px;
  line-height: 24px;
  font-family: var(--font-family-arial);
}

.our-friends {
  background: var(--color-light-l);
}

.our-friends .title {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  margin-bottom: 60px;
}

.our-friends__title-bottom {
  display: inline-block;
}

.pets-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.pets-cards__arrow {
  width: 52px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-primary);
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.pets-cards__left-arrow {
  text-indent: -9999px;
  width: 16px;
  height: 6px;
  background-image: url('../../../assets/icons/slider-arrow-left.svg');
  background-size: 16px 6px;
}
.pets-cards__right-arrow {
  text-indent: -9999px;
  width: 16px;
  height: 6px;
  background-image: url('../../../assets/icons/slider-arrow-right.svg');
  background-size: 16px 6px;
}

.pets-cards__wrapper {
  overflow: hidden;
  width: 990px;
}

.carousel {
  display: flex;
  width: 990px;
  position: relative;
  left: -990px;
}

@keyframes move-right {
  from {
    left: -990px;
  }
  to {
    left: -1980px;
  }
}

.transition-right {
  animation-name: move-right;
  animation-duration: 3s;
}

@keyframes move-left {
  from {
    left: -990px;
  }

  to {
    left: 0;
  }
}

.transition-left {
  animation-name: move-left;
  animation-duration: 3s;
}

.hidden {
  display: none;
}

.pets-cards__group {
  max-width: 990px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.pets-cards__item {
  max-height: 435px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: var(--color-light-s);
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.pets-cards__img {
  margin-bottom: 30px;
}

.pets-cards__title {
  font-size: 20px;
  line-height: 23px;
  color: var(--color-dark-l);
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.pets-cards__button {
  width: 187px;
  height: 52px;
  padding: 15px 45px;
  font-size: 17px;
  letter-spacing: 0.03em;
  color: var(--color-dark-3xl);
  background-color: transparent;
  border: 2px solid #f1cdb3;
  border-radius: 100px;
  margin-bottom: 30px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.our-friends__button {
  display: block;
  margin: 0 auto;
  width: 261px;
  height: 52px;
  border: none;
  font-size: 17px;
  letter-spacing: 0.058em;
  color: var(--color-dark-3xl);
  padding: 15px 45px;
  background: var(--color-primary);
  border-radius: 100px;
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.help-shelter .title {
  max-width: 320px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 57px;
}

.help-shelter__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 120px;
}

.help-shelter__item {
  text-align: center;
}

.help-shelter__img {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.help-shelter__title {
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: var(--color-dark-l);
}

.donation .container {
  max-width: 995px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donation__info .title {
  max-width: 300px;
  margin-bottom: 20px;
}

.donation__subtitle {
  font-size: 15px;
  line-height: 17px;
  letter-spacing: 0.056em;
  color: var(--color-dark-l);
  margin-bottom: 20px;
}

.donation__card {
  width: 349px;
  display: flex;
  padding: 10px 15px;
  background: var(--color-primary);
  border-radius: 9px;
  margin-bottom: 20px;
  transition: background 0.3s ease-out;
}

.donation__number {
  padding-left: 15px;
  font-size: 20px;
  letter-spacing: 1.1px;
  color: var(--color-dark-l);
}

.donation__text {
  max-width: 380px;
  font-family: var(--font-family-arial);
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  color: var(--color-dark-m);
}

.footer {
  padding-top: 40px;
  background-image: url('../../../assets/images/footer-gradient-background.jpg');
  background-size: cover;
}

.footer .container {
  display: flex;
  justify-content: space-between;
}

.footer__info {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.footer .title {
  color: var(--color-light-xl);
}

.footer__contacts-title {
  max-width: 280px;
  margin-bottom: 40px;
}

.footer__location-title {
  max-width: 270px;
  margin-bottom: 34px;
}

.footer__link {
  display: flex;
  align-items: center;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
  color: var(--color-primary);
  max-width: 302px;
  transition: color 0.3s ease-out;
}

.footer__link-text {
  margin-left: 20px;
}

.footer__svg-path {
  fill: var(--color-primary);
  transition: fill 0.3s ease-out;
}

.email-link {
  margin-bottom: 39px;
}

.location-link {
  margin-bottom: 32px;
}

.location-link span {
  max-width: 255px;
}

@media (hover: hover) {
  .logo__link:hover .logo__title {
    color: var(--color-light-s);
  }

  .logo__link:hover .logo__subtitle {
    color: var(--color-dark-s);
  }

  .make-friend__btn:hover {
    background-color: var(--color-primary-light);
  }

  .pets-cards__item:hover {
    background: var(--color-light-xl);
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  }

  .pets-cards__item:hover .pets-cards__button {
    background: var(--color-primary);
  }

  .our-friends__button:hover {
    background: var(--color-primary-light);
  }

  .pets-cards__arrow:hover {
    background: var(--color-primary);
  }

  .donation__card:hover {
    background: var(--color-primary-light);
  }

  .footer__link:hover {
    color: var(--color-light-l);
  }

  .footer__link:hover .footer__svg-path {
    fill: var(--color-light-l);
  }
}

@media screen and (max-width: 1200px) {
  .pets-cards__wrapper {
    max-width: 600px;
  }
}

@media screen and (max-width: 1275px) {
  .header {
    background-image: url('../../../assets/images/start-screen-gradient-background-768.jpg');
  }

  .logo__subtitle {
    letter-spacing: 0.11em;
  }

  .make-friend {
    background-image: url('../../../assets/images/start-screen-gradient-background-768.jpg');
  }

  .make-friend .container {
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .make-friend__left {
    padding-top: 0;
    margin-bottom: 100px;
  }

  .make-friend__img {
    width: 569px;
    margin-left: auto;
  }

  .make-friend__btn {
    margin: 0 auto;
  }

  .donation .container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .about .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .about .title {
    margin-top: 0;
  }

  .about__text-block {
    margin-bottom: 80px;
  }

  .about__img {
    max-width: 300px;
  }

  .pets-cards__wrapper {
    max-width: 580px;
  }

  .help-shelter__items {
    max-width: 630px;
    margin: 0 auto;
    gap: 49px 0;
    justify-content: space-between;
  }

  .help-shelter__item {
    width: 170px;
  }

  .donation__info {
    margin-bottom: 60px;
  }

  .footer {
    padding-top: 16px;
  }

  .footer .container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }

  .location-link:last-child {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 767.9px) {
  .make-friend__img {
    width: 300px;
  }

  .pets-cards {
    max-width: 370px;
    flex-wrap: wrap;
    gap: 18px;
    margin: 0 auto 40px;
  }

  .pets-cards__arrow {
    order: 1;
  }

  .pets-cards__arrow:nth-child(1) {
    margin-left: 58px;
  }

  .pets-cards__arrow:nth-child(3) {
    margin-right: 58px;
  }

  .pets-cards__wrapper {
    margin: 0 auto;
    max-width: 270px;
  }
}

@media screen and (max-width: 590px) {
  .header {
    background-image: url('../../../assets/images/start-screen-gradient-background-320.jpg');
  }

  .make-friend {
    background-image: url('../../../assets/images/start-screen-gradient-background-320.jpg');
  }

  .make-friend__left {
    margin-bottom: 50px;
  }

  .make-friend__title {
    font-size: 25px;
    line-height: 130%;
    max-width: 220px;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 0.06em;
    margin-bottom: 42px;
  }

  .make-friend__subtitle {
    text-align: center;
  }

  .make-friend__img {
    width: 260px;
  }

  .donation__img {
    display: block;
    width: 260px;
  }

  .donation__card {
    width: 281px;
    margin-left: 9px;
  }
}

@media screen and (max-width: 320px) {
  .header .container {
    padding: 0 20px;
  }

  .make-friend__left {
    margin-bottom: 105px;
  }

  .about .title {
    margin: 0 auto;
    max-width: 280px;
    text-align: center;
  }

  .about__text {
    padding: 0 15px;
  }

  .about__text-block {
    margin-bottom: 36px;
  }

  .about__img > img {
    width: 260px;
  }

  .our-friends .title {
    margin-bottom: 40px;
  }

  .help-shelter .title {
    max-width: 230px;
    margin-bottom: 40px;
  }

  .help-shelter__items {
    max-width: 290px;
    gap: 30px;
  }

  .help-shelter__item {
    width: 130px;
  }

  .help-shelter__title {
    font-size: 15px;
    line-height: 110%;
  }

  .help-shelter__img {
    margin-bottom: 7px;
  }

  .donation__info .title {
    margin: 0 auto 20px;
    max-width: 220px;
    text-align: center;
  }

  .donation__subtitle {
    letter-spacing: 0;
    text-align: center;
    margin-bottom: 23px;
  }

  .donation__number {
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    margin-top: 6px;
  }

  .donation__info {
    margin-bottom: 45px;
  }

  .footer {
    padding-top: 30px;
  }

  .footer .container {
    gap: 40px;
  }

  .footer .title {
    text-align: center;
  }

  .footer__info {
    align-items: center;
    margin-top: 0;
  }

  .footer__info:nth-child(2) {
    align-items: start;
  }

  .footer__location-title {
    max-width: 290px;
    margin-bottom: 39px;
  }

  .location-link {
    margin-bottom: 40px;
  }

  .location-link:last-child {
    margin-bottom: 0;
  }

  .footer img {
    display: block;
    width: 260px;
  }
}
